:root {
  --lightBlue: #84CEEB; /*body*/
  --darkBlue: #5680E9; /*Header*/
}

* {
   margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.6;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.main {
  max-width: var(--defaultContentWidth);
  max-height: var(--defaultContentHeight);
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: var(--lightBlue);
}

.header{
  background-color: var(--darkBlue);
}

.main__splash {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "logo"
    "tagline"
    "joinBtn"
    "getBtn"
    ;
  gap: 25px;
}

.grid-container {
  display: grid;
  background-color: var(--darkBlue);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.17fr 1fr 1fr;
  align-items: stretch;
  gap: 0px 0px;
  justify-items: center;
  grid-template-areas:
    "login . Noteberry . ."
    ". . Center . ."
    ". . . . .";
}
.Center { grid-area: Center; }
.login { grid-area: login; }
.Noteberry { grid-area: Noteberry }


.notesContainerHeader {
  height: 70px;
  line-height: 70px
}

.notesContainer {
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: stretch;
  grid-template-areas:
    "sidebar note";
}

.notesSidebar {
  grid-area: sidebar;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr;
  height: calc(100vh - 70px);
  position: sticky;
  grid-auto-rows: max-content;
  background-color: rgb(17, 40, 63);
}

#notesSidebar__list {
  display: contents;
}

.notesSidebar__noteEntry {
  padding: 10px 25px;
  color: rgba(255, 255, 255, 0.8);
}

.makeNewNote {
  padding: 25px;
  height: 40px;
  width: 40px;
}

.note {
  grid-area: note;
  padding: 25px;
}

.note__wrapper {
  margin: 0 auto;
  max-width: 800px;
}


.note textarea {
  display: block;
  width: 100%;
  border: 0;
  resize: none;
  min-height: 400px;
  outline: none;
}
