.main {
  max-width: var(--defaultContentWidth);
  margin: 0 auto;
  padding: 50px 25px;
}

body {
  background-color: var(--lightBlue);
}

.main__splash {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "logo"
    "tagline"
    "joinBtn"
    "getBtn"
    ;
  gap: 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.17fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . ."
    ". Center Center ."
    ". . . .";
}
.Center { grid-area: Center; }
